.advantages {
  background-color: #f2f2f2;
}

.advantages__wrapper {
  width: 280px;
  padding: 53px 20px 0;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    grid-column: 2/-1;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__description {
  text-align: center;
  margin-top: 0;
  margin-bottom: 36px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages__image {
  display: block;
  margin: 0 auto;
}
