.app-store {
  background-color: #1d2631;
}

.app-store__wrapper {
  padding: 28px 20px 38px;
  width: 320px;
  margin: 0 auto;
}

.app-store__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding: 21px 39px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 29px;
  margin-bottom: 32px;
  display: inline-block;
}

.app-store__item {
  list-style-type: none;
}

.app-store__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: 28px;
}
