.background-wrapper {
  background-color: #283645;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    height: 729px;
    background-image: url("../img/back-tablet.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}
