.form-filter {
  margin: 0;
  padding: 0;
  border: none;
}

.form-filter__wrapper {
  width: 280px;
  padding: 38px 20px 44px;
  margin: 0 auto;

  &--bg {
    background-color: #f2f2f2;

    @media (min-width: @tablet-width) {
      background-color: transparent;
    }
  }

  &--data {
    padding-top: 0;
  }

  @media (min-width: @tablet-width) {
    width: 620px;
    padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding: 0 130px;
  }
}

@media (min-width: @tablet-width) {
  .form-filter--apps {
    order: 2;
  }

  .form-filter--contacts {
    order: 3;
  }

  .form-filter--successes {
    order: 4;
  }

  .form-filter--comments {
    order: 5;
  }
}

@media (min-width: @desktop-width) {
  .form-filter--comments {
    grid-column: 1/-1;
  }

  .form-filter--apps {
    grid-column: 2/3;
  }

  .form-filter--contacts {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
  }

  .form-filter--successes {
    grid-column: 1/-1;
  }
}

.form-filter__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
  margin-bottom: 43px;

  &--contacts {
    display: none;
  }

  &--data {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 35px;

    &--contacts {
      display: block;
    }
  }
}

.form-filter__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: @desktop-width) {
    &--successes {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(2, min-content);
      grid-column-gap: 23px;
    }
  }
}

.form-filter__item {
  margin-bottom: 52px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    &--second {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    &--fourth {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }
}
