.reviews {
  background-color: #ffffff;
}

.reviews__wrapper {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.reviews__item {
  padding: 0;
  margin: 0;
}

.reviews__author-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin-top: 43px;
  margin-bottom: 31px;
}

.reviews__text {
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-bottom: 41px;
}
