.user-photos__wrapper {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.user-photos__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  margin-top: 54px;
  margin-bottom: 60px;
}

.user-photos__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-photos__link {
  text-decoration: none;
}

.user-photos__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.user-photos__sutitle {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #283645;
}

.user-photos__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.user-photos__likes {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
  color: #d22856;
}
